.card-padrao{
    /* background-color: #215683; */
    height: 25vh;
    width: 50vh;

    border-radius: 8px;

    padding: 1px 1px;
}

.card-padrao-segundo{
    height: 25vh;
    width: 50vh;

    border-radius: 8px;

    padding: 2px 2px;
}

.h3-card-home{
    color: #215683;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    font-family: Oxanium;
    margin-left: 3%;
}
.p-card-home{
    color: #000;
    font-style: normal;
    line-height: normal;
    font-size: 14px;

    font-family: Oxanium;

    width: 90%;
    margin-left: 3%;
}

.h3-card-home-segundo{
    color: #215683;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    font-family: Oxanium;
    margin-left: 3%;
}
.p-card-home-segundo{
    font-style: normal;
    line-height: normal;
    font-size: 14px;

    font-family: Oxanium;

    width: 90%;
    margin-left: 3%;
}


/* Planos */


.card-padrao-plano{
    background-color: #133450;
    height: 70vh;
    width: 30%;

    border-radius: 8px;

    align-items: center;
    display: flex;
    flex-direction: column;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card-padrao-plano:hover{
        transform: translateY(-10px);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.h3-card-plane{
    color: #fff;
    margin-top: 15%;
    font-size: 22px;
}
.p-card{
    width: 85%;
    height: auto;
}
.p-card-plane{
    display: flex;
    align-items: center;
    color: #fff;
    text-align: left;

    justify-content: space-around;

    margin-top: 10%;
}

.icon{
    height: 20%;
    width: 10%;

    margin-top: 0.5%;
    margin-right: 5%;
}
.icon2{
    height: 20%;
    width: 18%;
}