footer {
    margin: 0;
    padding: 0;
    background-color: #024C5D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    height: 35vh;

    margin-top: 10%;
}
.logo-grande-footer{
    width: 50%;
}
.coluna-logo-footer{

    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 3%;
}

.h2-slogan-footer{
    color: #fff;
}

.colunas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 100px;
    padding-top: 0px;
    width: 850px;
    /* background-color: red; */
}

.coluna-um,
.coluna-dois, .coluna-tres {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
    align-items: flex-start;

    color: black;
}


.p-footer{
    margin-top: -5%;
}
.alinhamento-p{
    margin-top: -2%;
    width: 80%;
}
.p-footer-contact{
    margin-left: 5%;
}
.p-footer-contact-t{
    margin-left: 8%;
}

.redes-inline{
    width: 40%;
    display: flex;
    justify-content: space-between;
}