
.background{
    border-radius: 50%;
    height: 25%;
    position: static;
    filter: blur(100px);
    background-color: #B5B4B4;
    mix-blend-mode: color-dodge;
}

.position{
    margin-top: 20%;
}

.back{
    margin-top: 90%;
}

.menu-lateral{
    position: fixed;
width: 15%;
height: 100vh;
flex-shrink: 0;
float: left;

background-color: #12324D;
color: white;
font-family: Oxanium;
}
.p-menu{
    color: #fff;
    font-size: 14px;
}

.logo-branca-menu{
    width: 50%;
    height: 12vh;

    margin-top: 15%;
    margin-left: 40%;
}
.logo-branca-menu img{
    width: auto;
    height: 12vh;
}
.position{
    position: absolute;
}
.container-menu{
    margin-left: 20%;
    margin-top: 28%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.workspace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.pay{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.suporte{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.perfil-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.logOff{
    margin-top: 120%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

hr{
    width: 110%;
    height: 1px;
    background: linear-gradient(180deg, #50FAAB 100%, #B5B4B4 100%);
}