.containerServices{
    /* position: absolute; */
    border: 2px solid #2B9DB8;
    border-radius: 8px;

    height: 30vh;
    width: 95%;

    margin-left: 3%;
    margin-top: 2%;

    display: flex;
    flex-direction: column;
}

.option{
    position: absolute;
    display: flex;
    width: 8%;
    height: 4vh;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}

.status{
    background: #50FAAB80;
    margin-top: 6%;
    margin-left: 70%;
}
.opt{
    background: #215683;
    color: #fff;
    margin-top: 9%;
    margin-left: 69%;
    width: 10%;
}

.optt{
    background: #dbaa0b99;
    color: #fff;
    margin-top: 6.5%;
    margin-left: 69%;
    width: 10%;
    cursor: pointer;
}
.optt2{
    background: #215683;
    color: #fff;
    margin-top: 9%;
    margin-left: 69%;
    width: 10%;
}

.Titulo-servico{
    width: 90%;
    height: 10vh;
    color: #215683;
}
.titulo-servico-h2{
    margin-left: 5%;
}

.descricao-servico{
    width: 80%;
    height: 13vh;
}
.descicaoDemanda{
    margin-left: 5%;
}

.valor-servico{
    position: absolute;
    width: 15%;

    margin-top: 3%;
    margin-left: 70%;
}

.time-servico{
    height: 5vh;
    width: 25%;

    margin-left: 75%;
}
.time-servico-p{
    margin-left: 9%;
}

.money{
    position: absolute;
    width: 9%;

    display: flex;
    justify-content: space-between;

    margin-left: 69.5%;
    margin-top: 2%;
}