/* body{
    background-image: linear-gradient(direction, #50FAAB, #7470B5);
} */

.body{
    overflow-y: hidden;
    overflow-x: hidden;

    height: 100vh;
}
.background{
    background: rgb(24,11,232);
    background: linear-gradient(49deg, rgba(24,11,232,0.3757878151260504) 21%, rgba(80,250,171,0.17970938375350143) 55%, rgba(255,255,255,1) 76%);

    height: 100vh;
}

.span-choose{
    color: #20497A;
    font-size: 40px;
}
.texto_cadastro{
    text-align: center;
    margin-top: 5%;

    background: transparent;
}

.img-logo{
    margin-left: 2%;
    margin-top: 2%;
}

.cads{
    background-color: transparent;
    color: #20497A;
    text-align: center;
    font-family: Oxanium;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button11{
    padding: 16px 72px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 10vh;

    border-radius: 6px;
    border: 2px solid #215683;
    background: transparent;
}
.button2{
    padding: 16px 72px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 10vh;

    border-radius: 6px;
    border: 2px solid #215683;
    background: transparent;
}
.button2:hover{
    padding: 16px 72px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: 2px solid #215683;
    background: #215683;

    color: #fff;
}
.button11:hover{
    padding: 16px 72px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: 2px solid #215683;
    background: #215683;

    color: #fff;
}
.div-choose-butons{

    display: flex;
    margin-top: 10%;

    justify-content: space-around;
    align-items: center;

    width: 40%;
    margin-left: 30%;
}

.btn-choose-1{
    width: 30vh;
}