@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body{
    padding: 0;
    margin: 0;

    font-family: Oxanium;
    background-color: #fdfdfd;
    overflow-x: hidden;
    overflow-y: visible;
}
a{
    text-decoration: none;
    display: flex;
    width: 80%;
}
.a_institu{
    width: 20%;
}

/* Textos */
.h1-grande{
    color: #FFF;
    text-align: center;
    font-family: Oxanium;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 0;
    margin: 0;
}
.h1-medio{
    color: #215683;
    text-align: center;
    font-family: Oxanium;
    font-size: 45px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    padding: 0;
    margin: 0;
    
    width: 40%;
    height: 10vh;
}
.h2-grande-titulo{
    color: #215683;
    font-family: Oxanium;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    padding: 0;
    margin: 0;
    
    width: 40%;
    height: 10vh;
}
.h2-grande-titulacao{
    color: #215683;
    font-family: Oxanium;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 0;
    margin: 0;
    
    width: 40%;
    height: 10vh;

    margin-left: 20%;
    margin-top: 4%;

    position: absolute;
}

.p-slogan-home{
    color: #FFF;
    text-align: center;
    font-family: Oxanium;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.p-12{
    color: #fff;
    font-size: 12px;
}
.p-14-azul{
    color: #215683;
    font-size: 14px;

    margin-top: 5%;
}
.a-14-azul{
    color: #7dafdb;
    font-size: 14px;
}
.h2-16{
    color: #fff;
    font-size: 16px;
}
.h2-subtitulo2{
    color: #FFF;
    font-size: 16px;
    font-weight: 200;
}

/* alinhamentos */

.alinhamento-inline{
    display: flex;
    align-items: center;
}

.conteudo-servicos{
    display: flex;
    flex-direction: column;
    height: 100vh;

    margin-left: 14%;
}

.alinhamento-itens-conteudo{
    height: autp;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
}

/* botoes pradronizados */
.btn-padrao{
    display: flex;
    width: 30%;
    height: 4vh;
    padding: 22px 18px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: transparent;

    margin-top : 3%;

    color: #000;
    font-family: Oxanium;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;
    cursor: pointer;
}
.btn-padrao:hover{
    border: 2px solid #215683;
    background-color: #215683;

    color: #ffffff;
}
.btn-cadastrar-demanda{
    width: 45%;
    height: 5vh;

    padding: 10px 10px;

    justify-content: center;
    align-items: center;

    gap: 7px;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: transparent;

    color: #000;
    font-family: Oxanium;
    font-size: 12px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;
    cursor: pointer;
}
.btn-cadastrar-demanda:hover{
    width: 45%;
    height: 5vh;

    padding: 10px 10px;

    justify-content: center;
    align-items: center;

    gap: 7px;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: transparent;

    background-color: #215683;
    color: #ffffff;

    font-family: Oxanium;
    font-size: 12px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;
    cursor: pointer;
}

.btn-service-mm{
    position: absolute;
    display: flex;
    margin-left: 65%;
    margin-top: 8%;

    width: 26%;
    justify-content: space-between;
}