/* .container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.container-home{
    min-height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.background-home{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.nav-home{
    display: flex;
    flex-direction: row;

    width: 80%;
    margin-top: 3%;

    padding: 0;
    align-items: center;
}

.navbar-home{
    display: flex;
    flex-direction: row;

    justify-content: center;

    width: 70%;
}

.ul-home{
    display: flex;
    justify-content: space-between;

    width: 60%;
    margin-left: 20%;
}
.ul-home li{
    list-style-type: none;
    color: #ffffff;
}

.button-home{
    display: flex;
    width: 50%;
    height: 4vh;
    margin-left: 50%;
    padding: 22px 18px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 2px solid #215683;
    background-color: #215683;


    color: #fff;
    font-family: Oxanium;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    line-height: bold;

    transition: background-color 0.20s ease;
    cursor: pointer;

    transition: all 0.5s;
}
.button-home:hover{
    border: 2px solid #1d4f77;
    background-color: #1d4f77;

    color: #fff;
}

.slogan-home{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    margin-top: 12%;
}


.slogan-marca-home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 15%;
}

/* teste */
.card-about-home{
    display: flex;
    justify-content: space-around;

    margin-top: 15%;
    width: 85%;
    margin-left: 8%;

}

.divTeste{
    background-image: url("../assets/img-workspace.png");
    height: 70vh;
    width: 78%;

    border-radius: 8px;

    margin-left: 11%;
    margin-top: 3%;
    border: 1px solid #215683;
}
.carrosseul-about-home{
    margin-top: 5%;
}


.plane-home{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.card-plane-home{
    display: flex;
    justify-content: space-around;

    width: 80%;
    margin-top: 5%;

}